################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IAC-REPO/FileContentIndex/315cadfc-e4fb-41d4-9acf-b697d4f7ba3b.vsidx
/.vs/IAC-REPO/FileContentIndex/9d2eeb67-7435-4b90-9c6a-76416da99d62.vsidx
