################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IAC-REPO/FileContentIndex/315cadfc-e4fb-41d4-9acf-b697d4f7ba3b.vsidx
